.actions {
  display: flex;
  flex-direction: column;
}

.actions__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 317px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 62px;
  padding-top: 55px;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  &:hover {
    .actions__bg {
      transform: scale(1.05);
    }
  }
}

.actions__inner {
  display: flex;
  flex-direction: column;
  margin-left: calc(0px - var(--mobile-padding));
  margin-right: calc(0px - var(--mobile-padding));
}

.actions__title {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 10px;
  text-align: center;

  &::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 32px;
    height: 33px;
    background-image: url("/img/common/icon-fire-half.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, 0);
    content: "";
  }
}

.actions__subtitle {
  margin-top: auto;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.actions__text {
  max-width: 280px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  text-align: center;
}

.actions__bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &--delivery {
    background-image: url("/img/pages/index/action-delivery-mob.jpg");
  }

  &--reserv {
    background-image: url("/img/pages/index/action-rezerv-mob.jpg");
  }
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .actions__text {
    align-self: center;
    max-width: 660px;
    font-size: 32px;
    text-align: center;
  }

  .actions__inner {
    flex-direction: row;
  }

  .actions__link {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 29px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .actions__link {
    height: 354px;
    padding-left: 48px;
    padding-bottom: 30px;

    &:not(:last-child) {
      margin-right: 58px;
    }
  }

  .actions__bg {
    &--delivery {
      background-image: url("/img/pages/index/action-delivery-desk.jpg");
    }

    &--reserv {
      background-image: url("/img/pages/index/action-rezerv-desk.jpg");
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
