.advantages {
  position: relative;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 100%;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    height: 1px;
    background-color: var(--line-gray);
    background-clip: content-box;
    transform: translate(-50%, 0);
  }

  &--delivery {
    margin-bottom: 0;
    padding-bottom: 0;
    &::after {
      display: none;
    }
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.advantages__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 66px;
  }

  &--delivery {
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 36px;
    border-bottom: 1px solid var(--line-gray);

    &:not(:last-child) {
      margin-bottom: 46px;
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 16px;
      width: 24px;
      height: 36px;
      background-image: url("/img/common/icon-fire-stroke.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }
  }
}

.advantages__termin {
  order: 2;
  max-width: 208px;
  font-family: var(--third-font);
  font-size: 18px;
  line-height: 1.4;

  &--delivery {
    max-width: 210px;
    min-height: 42px;
    font-size: 15px;
  }
}

.advantages__definition {
  position: relative;
  order: 1;
  width: fit-content;
  margin-left: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    bottom: -8px;
    content: "";
    display: block;
    width: 100%;
    height: 19px;
    background-color: var(--third-gray);
    z-index: -1;
  }

  &--delivery {
    margin-bottom: 28px;
    font-size: 25px;
    text-transform: initial;

    &::after {
      display: none;
    }
  }
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .advantages {
    display: flex;
    justify-content: center;

    &--delivery {
      pointer-events: none;
    }
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 90%;
    width: 100%;

    &--delivery {
      max-width: none;
      width: 100%;
    }
  }

  .advantages__termin {
    font-size: 17px;

    &--delivery {
      max-width: 185px;
      font-size: 14px;
    }
  }

  .advantages__definition {
    font-size: 24px;

    &::after {
      bottom: -6px;
    }

    &--delivery {
      margin-bottom: 25px;
      font-size: 23px;
    }
  }

  .advantages__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--delivery {
      position: relative;
      display: flex;
      width: calc(100% / 4 - 3.8%);
      // width: 274px;
      height: auto;
      padding-left: 17px;
      padding-right: 17px;
      padding-bottom: 16px;
      padding-top: 16px;
      margin-bottom: 0;
      border: none;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 24px;
      box-shadow: 0px 3.31236px 20px rgba(0, 0, 0, 0.4);
      overflow: hidden;

      &::after {
        position: absolute;
        right: -21px;
        bottom: -14px;
        width: 77px;
        height: 119px;
        background-image: url("/img/common/icon-fire-hover.svg");
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 1;
        content: "";
      }

      &:not(:last-child) {
        margin-right: 3.8%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .advantages {
    &::after {
      padding-left: var(--tablet-padding);
      padding-right: var(--tablet-padding-right);
    }
  }

  .advantages__definition {
    font-size: 30px;

    &::after {
      bottom: -3px;
    }

    &--delivery {
      font-size: 23px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .advantages {
    &::after {
      padding-left: var(--desktop-padding);
      padding-right: var(--desktop-padding-right);
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .advantages__list {
    max-width: none;
    width: 1096px;

    &--delivery {
      max-width: none;
      width: 100%;
    }
  }
}
