.booking {
  width: 100%;
}

.booking__form {
  padding-left: 13px;
}

.booking__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 272px;
  padding: 0;
  margin-bottom: 44px;
  margin-left: 0;
  border: none;
  border-bottom: 1px solid var(--line-gray);

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}

.booking__label {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  opacity: 0.6;
}

.booking__option {
  font-weight: bold;
  color: var(--basic-black);
}

.booking__submit {
  margin-top: 48px;
}

// @media (min-width: 320px) {
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .booking__form {
    padding-left: 0;
  }

  .booking__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 272px);
    grid-template-rows: auto;
    column-gap: 110px;
    row-gap: 62px;
    margin-bottom: 62px;
  }

  .booking__inner {
    margin-bottom: 0;
    margin-right: 0;
  }

  .booking__submit {
    margin-top: 0;
  }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
// }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
