.contacts-page {
  height: 736px;
  margin-top: -235px;
}

.contacts-page__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 736px;
}

.contacts-page__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 736px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.4;
  z-index: 1;
  pointer-events: none;
}

.contacts-page__card {
  position: relative;
  display: flex;
  width: 352px;
  height: 144px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-top: 16px;
  background: var(--basic-black);
  border-radius: 24px;
  box-shadow: 0px 3.31236px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  &::after {
    position: absolute;
    right: -21px;
    bottom: -14px;
    width: 77px;
    height: 119px;
    background-image: url("/img/common/icon-fire-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    content: "";
  }
}

.contacts-page__img-box {
  flex-shrink: 0;
  width: 120px;
  height: 111px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.contacts-page__img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contacts-page__adress-box {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url("/img/common/icon-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    content: "";
  }
}

.contacts-page__adress {
  margin-top: 27px;
  margin-bottom: 0;
  font-family: var(--main-font);
  font-size: 15px;
}

.contacts__phone {
  margin-top: auto;
  margin-bottom: 7px;
  font-family: var(--main-font);
  font-size: 10px;
  color: var(--basic-white);
}

// MAP popup

.gm-style .gm-style-iw-c {
  background-color: transparent !important;
  box-shadow: none !important;
  overflow: visible !important;

  & button {
    display: none !important;
    top: 15px !important;
    right: 5px !important;
    background-color: white !important;
    & img {
      display: none !important;
    }
  }
}

.gm-style-iw.gm-style-iw-c {
  max-width: none !important;
}

.gm-style .gm-style-iw-d {
  overflow: visible !important;
}

.gm-style .gm-style-iw-t::after {
  display: none !important;
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .contacts-page {
    height: auto;
    margin-top: 0;
  }

  .contacts-page__map {
    height: 100%;
  }

  .contacts-page__overlay {
    height: 100%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
