.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 49px;
  padding-top: 41px;
}

.footer__social {
  padding-bottom: 34px;
  margin-bottom: 28px;
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
