.header {
  display: flex;

  .item-show & {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--basic-black);
    z-index: 1000;
  }
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 86px;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 100%;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    height: 1px;
    background-color: var(--line-gray);
    background-clip: content-box;
    transform: translate(-50%, 0);
    z-index: 6;
  }

  .item-show & {
    &::after {
      top: calc(100% - 1px);
    }
  }
}

.header__links {
  display: flex;
  margin-left: auto;
  z-index: 6;
}

.header__cart {
  order: -1;
  margin-right: 18px !important;
}

.header__burger {
  position: relative;
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 6;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: var(--basic-white);
    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 10px;
  }

  .menu-open & {
    &::before {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }

    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(-45deg);
    }

    &::before,
    &::after {
      transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
    }
  }
}

@media (max-width: 340px) {
  .header__burger {
    margin-left: 12px;
  }

  .header__cart {
    margin-right: 7px !important;
  }
}

// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header__wrapper {
    min-height: 103px;
  }

  .header__burger {
    margin-left: 50px;
  }

  .header__link {
    &--reserv {
      position: relative;
      margin-right: 25px;

      &::after {
        position: absolute;
        content: "";
        bottom: 3px;
        right: -14px;
        width: 13px;
        height: 10px;
        background-image: url("/img/common/icon-arrow-current.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(-45deg);
      }
    }
  }

  .header__cart {
    margin-right: 50px !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header__burger {
    width: 40px;
    height: 40px;
    margin-left: 29px;

    &::before {
      top: 15px;
    }

    &::after {
      bottom: 15px;
    }
  }

  .header__wrapper {
    &::after {
      padding-left: var(--tablet-padding);
      padding-right: var(--tablet-padding-right);
    }
  }

  .header__link {
    &--reserv {
      margin-right: 30px;

      &::after {
        right: -17px;
      }
    }
  }

  .header__cart {
    order: 0;
    margin-right: 0 !important;
    margin-left: 40px !important;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header__wrapper {
    &::after {
      padding-left: var(--desktop-padding);
      padding-right: var(--desktop-padding-right);
    }
  }

  .header__link {
    &--reserv {
      margin-right: 66px;

      &::after {
        right: -17px;
      }
    }
  }
}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
