.header {
  display: flex;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 86px;

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    content: "";
    width: 100%;
    padding-left: var(--mobile-padding);
    padding-right: var(--mobile-padding);
    height: 1px;
    background-color: var(--line-gray);
    background-clip: content-box;
    transform: translate(-50%, 0);
    z-index: 6;
  }
}

.header__burger {
  display: flex;
  width: 31px;
  height: 9px;
  margin-left: 24px;
  padding: 0;
  background-color: transparent;
  background-image: url("/img/common/icon-burger-m.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 6;
}

.header__links {
  margin-left: auto;
  z-index: 6;
}

@media (min-width: 320px) {
}

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header__wrapper {
    min-height: 103px;
  }

  .header__links {
    display: flex;
  }

  .header__link {
    &--reserv {
      position: relative;
      margin-right: 40px;

      &::after {
        position: absolute;
        content: "";
        bottom: 3px;
        right: -17px;
        width: 13px;
        height: 10px;
        background-image: url("/img/common/icon-arrow-current.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(-45deg);
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header__wrapper {
    &::after {
      padding-left: var(--tablet-padding);
      padding-right: var(--tablet-padding);
    }
  }

  .header__link {
    &--reserv {
      margin-right: 66px;
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .header__wrapper {
    &::after {
      padding-left: var(--desktop-padding);
      padding-right: var(--desktop-padding);
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
