.instagramm__title {
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 24px;
}

.instagramm__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(251px, 1fr));
  grid-template-rows: min-content;
  gap: 20px;
}

.instagramm__item {
  position: relative;
  overflow: hidden;
}

.instagramm__img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.instagramm__link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &:hover,
  &:focus {
    & .instagramm__wrapper {
      opacity: 1;
    }

    & .instagramm__text {
      transform: translateY(-50%);
    }
  }
}

.instagramm__wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.2s linear;
}

.instagramm__text {
  position: absolute;
  right: 0;
  left: 0;
  display: -webkit-box;
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: var(--basic-white);
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: transform 0.2s linear;
}

.instagramm__author {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--basic-white);
}

.instagramm__header {
  display: flex;
  width: 100%;
  margin-bottom: 7px;
}

.instagramm__logo-box {
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  margin-right: 7px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  overflow: hidden;
}

// @media (min-width: 320px) {
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .instagramm__item {
    display: flex;
    max-height: 336px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .instagramm__title {
    font-size: 42px;
  }

  .instagramm__list {
    grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    grid-template-rows: min-content;
  }

  .instagramm__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .instagramm__img {
    object-position: center;
  }
}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
