.logo {
  z-index: 6;
}

.logo__img {
  display: flex;
}

// @media (min-width: 320px) {
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .logo__img {
    width: 149px;
    height: 55px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .logo__img {
    width: 161px;
    height: 60px;
  }
}

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
// }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
