.main {
  margin-top: -86px;
  opacity: 1;

  .menu-open & {
    opacity: 0;
    transition: all 0.3s;
  }

  &--about {
    margin-bottom: 50px;
  }
}

.main__header {
  display: flex;
  min-height: 512px;
  max-height: 512px;
  height: 100%;
  margin-bottom: 26px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &--index {
    background-image: url("/img/pages/index/head-index-mob.jpg");
  }

  &--about {
    background-image: url("/img/pages/about/head-about-mob.jpg");
    margin-bottom: 74px;
  }
}

.main__header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 29px;
}

.main__title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.main__link {
  position: relative;
  align-self: flex-start;
  display: flex;
  align-items: center;
  max-width: 208px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 31px;
  padding-right: 45px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--second-black);
  background-color: var(--basic-white);

  &::after {
    position: absolute;
    right: 27px;
    top: 20px;
    content: "";
    width: 13px;
    height: 10px;
    background-image: url("/img/common/icon-arrow-current-orange.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-45deg);
  }
}

.main__cathegories {
  padding-bottom: 29px;
  margin-bottom: 36px;
}

.main__promo {
  margin-bottom: 70px;
}

.main__advantages {
  padding-bottom: 68px;
  margin-bottom: 58px;
}

.main__actions {
  margin-bottom: 121px;
}

.main__about {
  padding-bottom: 76px;
  margin-bottom: 62px;
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main {
    margin-top: -103px;
  }

  .main__link {
    display: none;
  }

  .main__header {
    min-height: 802px;
    max-height: 802px;
    height: 100%;
    margin-bottom: 48px;

    &--index {
      background-image: url("/img/pages/index/head-index-desk.jpg");
    }

    &--about {
      background-image: url("/img/pages/about/head-about-desk.jpg");
      margin-bottom: 109px;
    }
  }

  .main__header-wrap {
    padding-bottom: 80px;
  }

  .main__title {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1.2;
  }

  .main__cathegories {
    padding-bottom: 19px;
    margin-bottom: 72px;
  }

  .main__promo {
    margin-bottom: 110px;
  }

  .main__advantages {
    padding-bottom: 57px;
    margin-bottom: 73px;
  }

  .main__actions {
    margin-bottom: 141px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
