.main {
  margin-top: -86px;
  opacity: 1;

  .menu-open & {
    opacity: 0;
    transition: all 0.3s;
  }

  &--about {
    margin-bottom: 35px;
    margin-top: 0;
  }

  &--booking {
    padding-bottom: 93px;
    background-image: url("/img/pages/booking/booking-bg-mob.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }

  &--contacts {
    position: relative;
  }

  &--pay-delivery {
    position: relative;
    margin-top: 0;
  }

  &--dish {
    margin-top: 86px;
    margin-bottom: 20px;
  }

  &--promo-page {
    padding-bottom: 145px;
  }

  &--menu {
    margin-top: 0;
  }

  &--policy {
    width: 100%;
    margin-top: 0;
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.main__text {
  max-width: 294px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
}

.main__header {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  &--index {
    min-height: 512px;
    max-height: 512px;
    padding-top: 86px;
    background-image: url("/img/pages/index/head-index-mob.jpg");
    overflow: hidden;
  }

  &--about {
    padding-top: 64px;
    margin-bottom: 0;
  }

  &--booking {
    min-height: 176px;
    max-height: 176px;
    padding-top: 139px;
    margin-bottom: 59px;
  }

  &--contacts {
    min-height: 200px;
    max-height: 200px;
    padding-top: 139px;
  }

  &--pay-delivery {
    padding-top: 62px;
    margin-bottom: 62px;
  }

  &--promo {
    min-height: 480px;
    max-height: 480px;
    background-image: url("/img/pages/promo/head-promo-mob.jpg");
    margin-bottom: 45px;
  }

  &--menu {
    display: none;
    margin-bottom: 30px;
  }
}

.main__header-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: radial-gradient(
    88.07% 88.07% at 50% 45.26%,
    rgba(0, 0, 0, 0.64) 0%,
    rgba(0, 0, 0, 0) 95.83%
  );
  transform: rotate(-180deg);
}

.main__header-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: space-between;
  width: 100%;

  &--index {
    align-items: center;
    padding-bottom: 39px;
    padding-top: 39px;
  }

  &--about {
    padding-bottom: 65px;
  }

  &--booking {
    padding-bottom: 0;
  }

  &--contacts {
    padding-bottom: 0;
  }

  &--pay-delivery {
    padding-bottom: 0;
  }

  &--promo {
    padding-top: 45px;
    padding-bottom: 55px;
  }
}

.main__header-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__link {
  align-self: center;

  &--contacts {
    align-self: flex-start;
  }
}

.main__title {
  width: fit-content;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;

  &--index {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 27px;
    text-align: center;

    & .main__flame {
      position: absolute;
      top: -73px;
      right: -21px;
      width: 161px;
      z-index: -1;
    }
  }

  &--booking {
    padding-left: 13px;
    margin-bottom: 0;
    text-transform: initial;
  }

  &--contacts {
    margin-bottom: 0;
    text-transform: initial;
  }

  &--pay-delivery {
    margin-bottom: 0;
    text-transform: initial;
  }

  &--promo {
    margin-bottom: 0;
  }

  &--menu {
    margin-bottom: 40px;
    font-size: 40px;
  }

  &--line {
    position: relative;

    &::after {
      position: absolute;
      top: 87%;
      left: 0;
      width: 100%;
      height: 14px;
      background-image: url("/img/common/icon-line.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }
  }

  &--line-long {
    &::after {
      height: 18px;
    }
  }

  &--nowrap {
    white-space: nowrap;
  }

  &--policy {
    height: fit-content;
    margin-bottom: 40px;
    font-size: 23px;
    line-height: 1.5;
  }
}

.main__title-row {
  display: block;
  transition: all 0.1s ease;

  &:nth-child(2) {
    animation-delay: 0.1s;
  }

  &:nth-child(3) {
    animation-delay: 0.2s;
  }

  &--line {
    position: relative;

    &::after {
      position: absolute;
      right: -9px;
      bottom: -5px;
      width: 70%;
      height: 10px;
      background-image: url("/img/common/icon-line.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
    }
  }
}

.main__cathegories {
  padding-bottom: 29px;
  margin-bottom: 36px;
}

.main__promo {
  margin-bottom: 70px;

  &--page {
    margin-bottom: 0;
  }
}

.main__advantages {
  margin-bottom: 77px;
}

.main__actions {
  margin-bottom: 77px;
}

.main__about {
  padding-bottom: 74px;
  margin-bottom: 62px;
}

.main__instagramm {
  padding-bottom: 50px;
}

.main__dish {
  padding-top: 36px;
  margin-bottom: 56px;
}

.main__pay-delivery {
  margin-bottom: 39px;
}

// Only mobile

@media (max-width: 767px) {
  .main__title {
    &--min-size {
      font-size: 18px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .main {
    margin-top: -103px;

    &--about {
      margin-bottom: 50px;
      margin-top: 0;
    }

    &--booking {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: -110px;
      padding-top: 113px;
      padding-bottom: 120px;
      background-image: url("/img/pages/booking/booking-bg-desk.jpg");
    }

    &--contacts {
      position: static;
      margin-bottom: -110px;
      padding-top: 113px;
      padding-bottom: 120px;
    }

    &--pay-delivery {
      position: static;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: -110px;
      padding-top: 113px;
      padding-bottom: 145px;
    }

    &--promo-page {
      padding-bottom: 210px;
    }

    &--dish {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr min-content;
      column-gap: 12px;
      margin-top: 103px;
    }

    &--menu {
      margin-top: 0;
    }

    &--policy {
      margin-top: 0;
      padding-top: 62px;
      padding-bottom: 52px;
    }
  }

  .main__header {
    margin-bottom: 48px;

    &--index {
      min-height: 802px;
      max-height: 802px;
      background-image: url("/img/pages/index/head-index-desk.jpg");
    }

    &--booking {
      min-height: auto;
      max-height: none;
      padding-top: 0;
    }

    &--contacts {
      min-height: auto;
      max-height: none;
      padding-top: 94px;
    }

    &--pay-delivery {
      padding-top: 0;
      margin-bottom: 54px;
      margin-top: auto;
      pointer-events: none;
    }

    &--promo {
      margin-bottom: 89px;
      min-height: 500px;
      max-height: 500px;
      background-image: url("/img/pages/promo/head-promo-desk.jpg");
    }

    &--menu {
      display: flex;
      margin-bottom: 30px;
    }

    &--policy {
      margin-bottom: 0;
    }
  }

  .main__img-box {
    position: relative;

    &::before {
      position: absolute;
      top: -38px;
      left: -61px;
      width: 190px;
      height: 270px;
      background-image: url("/img/common/icon-fire-stroke-min.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
      z-index: -1;
    }
  }

  .main__img {
    display: flex;
    width: 300px;
  }

  .main__header-wrap {
    padding-bottom: 80px;

    &--index {
      padding-bottom: 39px;
    }

    &--booking {
      padding-bottom: 0;
    }

    &--contacts {
      padding-bottom: 0;
    }

    &--pay-delivery {
      padding-bottom: 0;
    }

    &--promo {
      padding-top: 94px;
      padding-bottom: 73px;
    }

    &--menu {
      flex-direction: row;
      padding-top: 55px;
      padding-bottom: 0;
    }
  }

  .main__header-gradient {
    background: radial-gradient(
      54.74% 54.74% at 50% 45.26%,
      rgba(0, 0, 0, 0.99) 0%,
      rgba(0, 0, 0, 0.29) 76.56%
    );
  }

  .main__title {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1.2;

    &--index {
      margin-bottom: auto;
      font-size: 40px;

      & .main__flame {
        top: -93px;
        right: -40px;
        width: 198px;
      }
    }

    &--booking {
      font-size: 54px;
      padding-left: 0;
    }

    &--contacts {
      font-size: 54px;
      padding-left: 0;
      padding-bottom: 60px;
    }

    &--pay-delivery {
      font-size: 54px;
      padding-left: 0;
    }

    &--menu {
      margin-bottom: 40px;
      font-size: 40px;
    }

    &--policy {
      font-size: 32px;
      line-height: 1.5;
    }
  }

  .main__title-row {
    &--line {
      &::after {
        bottom: -7px;
        height: 14px;
      }
    }
  }

  .main__cathegories {
    padding-bottom: 19px;
    margin-bottom: 72px;
  }

  .main__about {
    padding-bottom: 90px;
  }

  .main__promo {
    margin-bottom: 110px;

    &--page {
      margin-bottom: 0;
    }
  }

  .main__advantages {
    margin-bottom: 100px;
  }

  .main__actions {
    margin-bottom: 88px;
  }

  .main__dish {
    padding-top: 0;
    margin-bottom: 0;
  }

  .main__pay-delivery {
    margin-bottom: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .main {
    &--policy {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 30px;
      padding-top: 112px;
      padding-bottom: 101px;
    }
  }

  .main__header {
    &--about {
      padding-top: 71px;
      margin-bottom: 0;
    }
  }

  .main__instagramm {
    padding-bottom: 100px;
  }

  .main__about {
    padding-top: 71px;
  }

  .main__header-wrap {
    &--about {
      padding-bottom: 0;
    }

    &--menu {
      flex-direction: row;
      padding-left: var(--header-menu-padding);
      padding-right: var(--header-menu-padding);
      padding-top: 55px;
    }
  }

  .main__img-box {
    position: relative;

    &::before {
      position: absolute;
      top: -26px;
      left: -61px;
      width: 230px;
      height: 350px;
      background-image: url("/img/common/icon-fire-stroke-min.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: "";
      z-index: -1;
    }
  }

  .main__img {
    display: flex;
    width: auto;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .main {
    &--policy {
      display: grid;
      grid-template-columns: 1fr 650px;
      column-gap: 30px;
    }
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
