.navigation {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  grid-template-rows: 1fr min-content;
  width: 100%;
  height: 100vh;
  padding-top: 194px;
  background-image: url("/img/common/menu-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;

  &.is-open {
    display: grid;
  }
}

.navigation__wrapper {
  width: 100%;
}

.navigation__list {
  list-style: none;
  padding: 0;
  padding-left: 26px;
  padding-right: 26px;
  margin: 0;
}

.navigation__item {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

.navigation__link {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navigation {
    background-image: url("/img/common/menu-bg-desk.jpg");
  }

  .navigation__list {
    padding-left: 150px;
  }

  .navigation__link {
    font-size: 30px;
    line-height: 1.3;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .navigation {
    left: 0;
    width: 100vw;
    max-width: 100%;
    padding-top: 215px;
  }

  .navigation__list {
    padding-left: 150px;
  }

  .navigation__link {
    font-size: 48px;
    line-height: 1;
  }

  .navigation__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
