.navigation {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr min-content;
  width: 100%;
  height: 100vh;
  padding-top: 194px;
  background-image: url("/img/common/menu-bg-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
}

.navigation__wrapper {
  width: 100%;
}

.navigation__list {
  list-style: none;
  padding: 0;
  padding-left: 26px;
  margin: 0;
}

.navigation__item {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.navigation__link {
  position: relative;
  font-weight: bold;
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;

  &:hover,
  &:focus {
    &::after {
      position: absolute;
      right: -24px;
      content: "";
      width: 20px;
      height: 16px;
      background-image: url("/img/common/icon-arrow-current-orange.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(-45deg);
    }
  }
}

.navigation {
  visibility: hidden;
  .menu-open & {
    visibility: visible;
  }
  .navigation__item {
    opacity: 0;
    margin-bottom: 5px;
    transform: translateX(20px);
    transition: all 0.3s;
    $time-offset-close: 0;
    @for $i from 6 through 1 {
      &:nth-child(#{$i}) {
        $time-offset-close: $time-offset-close + 0.1;
        transition-delay: #{$time-offset-close}s;
        span {
          transition-delay: #{$time-offset-close}s;
        }
      }
    }
    .menu-open & {
      opacity: 1;
      transform: translateX(0);
      backface-visibility: hidden;
      $time-offset-open: 0.5;
      @for $i from 1 through 6 {
        &:nth-child(#{$i}) {
          $time-offset-open: $time-offset-open + 0.1;
          transition-delay: #{$time-offset-open}s;
          span {
            transition-delay: #{$time-offset-open}s;
          }
        }
      }
    }
  }
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navigation {
    background-image: url("/img/common/menu-bg-desk.jpg");
  }

  .navigation__list {
    padding-left: 150px;
  }

  .navigation__link {
    font-size: 30px;
    line-height: 1.3;

    &:hover,
    &:focus {
      &::after {
        right: -30px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .navigation {
    left: 0;
    width: 100vw;
    max-width: 100%;
    padding-top: 215px;
  }

  .navigation__list {
    padding-left: 150px;
  }

  .navigation__link {
    font-size: 48px;
    line-height: 1;
  }

  .navigation__item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}
