.pay-delivery {
  height: 736px;
  margin-top: -226px;
  margin-bottom: 39px;
  padding-top: 270px;
}

.pay-delivery__form {
  position: relative;
  z-index: 2;
}

.pay-delivery__title {
  display: flex;
  margin-bottom: 15px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--basic-white);
  opacity: 0.5;
  pointer-events: none;
}

.pay-delivery__input-box {
  margin-bottom: 58px;
}

.pay-delivery__status {
  display: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--third-font);
  font-size: 12px;
  pointer-events: none;

  &--succes {
    color: var(--second-green);
  }

  &--error {
    color: var(--basic-red);
  }

  &.show {
    display: flex;
  }
}

.pay-delivery__input {
  height: auto;
  padding-bottom: 15px;
  margin-bottom: 18px;
  font-size: 18px;
  color: var(--basic-white);
  border-bottom: 1px solid var(--line-gray);
}

.pay-delivery__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 736px;
}

.pay-delivery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 736px;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.4;
  z-index: 1;
  pointer-events: none;
}

.pay-delivery__card {
  position: relative;
  display: flex;
  width: 352px;
  height: 144px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-top: 16px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  box-shadow: 0px 3.31236px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;

  &::after {
    position: absolute;
    right: -21px;
    bottom: -14px;
    width: 77px;
    height: 119px;
    background-image: url("/img/common/icon-fire-hover.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    content: "";
  }
}

.pay-delivery__img-box {
  flex-shrink: 0;
  width: 120px;
  height: 111px;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.pay-delivery__img {
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.pay-delivery__adress-box {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 17px;
    background-image: url("/img/common/icon-pin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    content: "";
  }
}

.pay-delivery__adress {
  margin-top: 27px;
  margin-bottom: 0;
  font-family: var(--main-font);
  font-size: 15px;
}

.contacts__phone {
  margin-top: auto;
  margin-bottom: 7px;
  font-family: var(--main-font);
  font-size: 10px;
  color: var(--basic-white);
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .pay-delivery {
    height: auto;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
  }

  .pay-delivery__map {
    height: 100%;
  }

  .pay-delivery__input-box {
    display: flex;
  }

  .pay-delivery__form {
    pointer-events: none;
  }

  .pay-delivery__input {
    margin-right: 33px;
    margin-bottom: 0;
    pointer-events: all;
  }

  .pay-delivery__button {
    pointer-events: all;
  }

  .pay-delivery__status {
    align-items: flex-end;
    max-width: 175px;
  }

  .pay-delivery__overlay {
    height: 100%;
  }

  .pay-delivery__input {
    width: 340px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
