.social {
  border-bottom: 1px solid var(--line-gray);
}

.social__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item {
  &:not(:last-child) {
    margin-right: 31px;
  }
}

.social__link {
  display: block;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;

  &--fb {
    background-image: url("/img/icon-facebook.svg");
  }

  &--vk {
    width: 27px;
    height: 16px;
    background-image: url("/img/icon-vk.svg");
  }

  &--inst {
    background-image: url("/img/icon-instagramm.svg");
  }
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .social {
    border-bottom: none;
  }

  .social__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .social__link {
    width: 17px;
    height: 17px;

    &--vk {
      width: 22px;
      height: 13px;
      background-image: url("/img/icon-vk.svg");
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
