@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }

  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

@keyframes enter {
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes inRight {
  0% {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translateZ(0);
  }
}

@keyframes basket-bounce {
  25% {
    transform: scale(0.85);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.95);
  }

  100% {
    transform: none;
  }
}

@keyframes basket-fly {
  10% {
    /* Reveal the hidden item */
    opacity: 1;
  }

  50% {
    opacity: 1;
    /* Make it bigger */
    transform: scale(0.75);
    /* Swing it to the left and visually delay the transition to the top */
    margin-left: -20%;
    margin-top: 25%;
  }

  100% {
    /* Scale it back down, bring it back within the window */
    transform: scale(0.1) translateX(-4rem) translateY(10rem);
    /* Push up the object to the top right.
    This isn't a perfect solution, hence why Stripe use JS to calculate relative position to basket */
    left: var(--left);
    top: -10%;
    /* Hide it again, remove the offset margins declared at 50% */
    opacity: 0;
    margin-left: 0;
    margin-top: 0;
  }
}
