@font-face {
  font-family: "HeliosC";
  src: url("/fonts/HeliosC.woff2") format("woff2"), url("/fonts/HeliosC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeliosExtC";
  src: url("/fonts/HeliosExtC.woff2") format("woff2"), url("/fonts/HeliosExtC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeliosExtC";
  src: url("/fonts/HeliosExtC-Bold.woff2") format("woff2"), url("/fonts/HeliosExtC-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HeliosExtLightC";
  src: url("/fonts/HeliosExtLightC.woff2") format("woff2"), url("/fonts/HeliosExtLightC.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Croissant One";
  src: url("/fonts/CroissantOne-Regular.woff2") format("woff2"), url("/fonts/CroissantOne-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ALS Rubl";
  src: url("/fonts/ALSRubl.woff2") format("woff2"), url("/fonts/ALSRubl.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "rouble";
  src: url("/full_path/fonts/rouble.otf") format("opentype");
}
