.above-mobile {
  display: none;
}

.link {
  font-size: 15px;
  color: var(--basic-white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .above-mobile {
    display: block;
  }

  .below-mobile {
    display: none;
  }

  .link {
    font-size: 13px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .link {
    font-size: 14px;
  }

  .container {
    max-width: 1440px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
