.above-mobile {
  display: none;
}

.link {
  font-size: 15px;
  color: var(--basic-white);
}

.link-outline {
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  height: 28px;
  position: relative;
  width: 128px;
  text-align: center;
}

.link-outline__text {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.link-outline__svg {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.link-outline__shape {
  fill: transparent;
  stroke-dasharray: 103 540;
  stroke-dashoffset: -168;
  stroke-width: 4px;
  stroke: var(--basic-white);
}

.link-outline {
  &:hover,
  &:focus-visible {
    .link-outline__shape {
      animation: 0.5s draw linear forwards;
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}

@media (min-width: 320px) {
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .above-mobile {
    display: block;
  }

  .below-mobile {
    display: none;
  }

  .link {
    font-size: 13px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .link {
    font-size: 14px;
  }

  .container {
    max-width: 1440px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
