.above-mobile {
  display: none !important;
}

.above-tablet {
  display: none !important;
}

.rouble {
  font-family: var(--rouble);
  line-height: 0.8;
}

.link {
  font-size: 15px;
  color: var(--basic-white);
}

.link-outline {
  position: relative;
  display: grid !important;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  width: 108px;
  height: 20px;
  font-size: 12px;
  text-align: center;

  &:hover {
    .link-outline__shape {
      animation: 0.5s draw linear forwards;
    }
  }

  &:focus {
    .link-outline__shape {
      animation: 0.5s draw linear forwards;
    }
  }
}

.link-outline__text {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

.link-outline__svg {
  grid-column: 1/-1;
  grid-row: 1/-1;
  width: 108px;
  height: 20px;
}

.link-outline__shape {
  width: 108px;
  height: 20px;
  fill: transparent;
  stroke-dasharray: 88 540;
  stroke-dashoffset: -138;
  stroke-width: 4px;
  stroke: var(--basic-white);
}

.link-reserv {
  position: relative;
  align-self: flex-start;
  display: flex;
  align-items: center;
  max-width: 208px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 31px;
  padding-right: 45px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--second-black);
  background-color: var(--basic-white);
  border: none;
  cursor: pointer;
  z-index: 2;

  &::after {
    position: absolute;
    right: 27px;
    top: 20px;
    content: "";
    width: 13px;
    height: 10px;
    background-image: url("/img/common/icon-arrow-current-orange.svg");
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(-45deg);
  }

  &:hover,
  &:focus {
    transition: all 500ms ease;
    color: var(--basic-white);
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--basic-white);
  }

  &--order {
    padding-right: 31px;

    &::after {
      display: none;
    }
  }
}

.input {
  appearance: none;
  height: 23px;
  width: 100%;
  margin-bottom: 6px;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  color: var(--basic-white);
  background-color: transparent;
  background-image: url("/img/pages/booking/icon-select.svg");
  background-repeat: no-repeat;
  background-size: 16px 8px;
  background-position-x: right;
  background-position-y: center;
  border: none;
  box-shadow: none;

  &--date {
    appearance: auto;

    &::-webkit-calendar-picker-indicator {
      background: none;
    }
  }

  &--text {
    appearance: auto;
    background-image: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding-left: var(--mobile-padding);
  padding-right: var(--mobile-padding);
}

// @media (min-width: 320px) {
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
// }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .above-mobile {
    display: block !important;
  }

  .below-mobile {
    display: none !important;
  }

  .link {
    font-size: 13px;
  }

  .link-outline {
    width: 128px;
    height: 28px;
    font-size: 14px;
  }

  .link-outline__svg {
    width: 128px;
    height: 28px;
  }

  .link-outline__shape {
    width: 128px;
    height: 28px;
    stroke-dasharray: 103 540;
    stroke-dashoffset: -168;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .above-tablet {
    display: block !important;
  }

  .below-tablet {
    display: none !important;
  }

  .link {
    font-size: 14px;
  }

  .container {
    max-width: 1440px;
    padding-left: var(--tablet-padding);
    padding-right: var(--tablet-padding-right);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding-right);
  }
}

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) {
// }
