/* Viewports */

// $tablet-width: 768px;
// $desktop-width: 1150px;
// $mobile-width-only: 767px;

:root {
  /* Color */
  --basic-black: #161616;
  --basic-white: #ffffff;

  /* Padding */
  --mobile-padding: 15px;
  --desktop-padding: 100px;
}
