:root {
  /* Color */
  --basic-black: #161616;
  --second-black: #262d33;
  --third-black: #292929;
  --basic-white: #ffffff;
  --basic-gray: #bdbdbd;
  --second-gray: #818181;
  --third-gray: #4f4f4f;
  --pagination-gray: #e5e5e5;
  --basic-red: #ff4f52;
  --second-red: #eb5a47;
  --third-red: #e84b13;
  --basic-green: #93c726;

  --line-gray: rgba(255, 255, 255, 0.4);
  --line-gray-two: rgba(255, 255, 255, 0.1);

  --badge-bg: rgba(0, 0, 0, 0.5);

  /* Padding */
  --mobile-padding: 15px;
  --tablet-padding: 30px;
  --tablet-padding--right: 30px;
  --desktop-padding: 100px;
  --desktop-padding-right: 100px;

  /* Fonts */
  --main-font: "HeliosExtC", "Arial", "Helvetica", sans-serif;
  --second-font: "HeliosC", "Arial", "Helvetica", sans-serif;
  --third-font: "HeliosExtLightC", "Arial", "Helvetica", sans-serif;
  --fourth-font: "Croissant One", "Georgia", serif;
  --rouble: "ALS Rubl";
}
